In [20]:
# Dependencies
import pandas as pd

In [21]:
# load CSV
coders = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [22]:
# Read with pandas
coders_df = pd.read_csv(coders, encoding = 'iso-8859-1', low_memory=False)
coders_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [23]:
# Inspect all columns
coders_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [24]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
new_df = coders_df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
new_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampPostSalary', 'BootcampRecommend',
       'ChildrenNumber', 'CityPopulation', 'CodeEventBootcamp', 'CountryLive',
       'EmploymentField', 'EmploymentStatus', 'Gender', 'HasChildren',
       'HoursLearning', 'Income', 'JobRoleInterest', 'SchoolDegree',
       'SchoolMajor'],
      dtype='object')

In [25]:
# Change "0" to "No" and "1" to "Yes" in response columns
yesno_df = new_df.replace({0: "No", 1: "Yes"})

In [26]:
# Calculate total number of respondents in survey 
len_respondents = len(new_df) #changed variable name from len_respondents to total respondents
len_respondents

15620

In [27]:
# Extract rows corresponding only to people who attended a bootcamp
df_attended = new_df.loc[yesno_df["AttendedBootcamp"]=="Yes"]
df_attended.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,1.0,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,1.0,1.0,1.0,0.0,45000.0,0.0,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,1.0,1.0,1.0,1.0,75000.0,1.0,3.0,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,1.0,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,1.0,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,1.0,0.0,NaN,1.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60.0,NaN,NaN,"some college credit, no degree",NaN

In [28]:
# Calculate average age of attendees
avg = round(df_attended['Age'].astype(float).mean(), 2)
print(avg)

# Calculate how many people attended a bootcamp
len_attended = len(df_attended)
print(len_attended)

31.07
953

In [29]:
# Calculate how many attendees hold degrees
df_attended['SchoolDegree'].unique()
#degrees = df_attended['SchoolDegree'].value_counts()
#degrees filter is list of degree types
degree_filter = ["bachelor's degree", "Ph.D.", "master's degree (non-professional)", "associate's degree", "professional degree (MBA, MD, JD, etc.)"]

#create new column, holds 1 or 0 based on whether school degree value is in degree filter list
df_attended['HasDegree'] = df_attended['SchoolDegree'].isin(degree_filter).replace({True:1, False:0})
#has degree = 1 or 0, sum the 1's
degree_count = df_attended['HasDegree'].sum() 
degree_count

<ipython-input-29-467fef401b44>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_attended['HasDegree'] = df_attended['SchoolDegree'].isin(degree_filter).replace({True:1, False:0})

637

In [30]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
#dummy = pd.get_dummies(df_attended['Gender'])
male_count = dummy['male'].sum()
female_count= dummy['female'].sum()
gen_queer_count = dummy['genderqueer'].sum()
trans_count = dummy['trans'].sum()
agender_count = dummy['agender'].sum()
non_binary_count = gen_queer_count + trans_count + agender_count
tot_gender_count = (male_count + female_count + non_binary_count).sum()
tot_gender_count

833

In [34]:
# Calculate percentage of respondents who attended a bootcamp
percent_attended = round(len(df_attended)/len(new_df)*100, 2)

# Calculate percentage of respondents belonging to each gender
perc_male = round((male_count/tot_gender_count)*100, 2)
perc_female = round((female_count/tot_gender_count)*100, 2)
perc_non_binary = round((non_binary_count/tot_gender_count)*100, 2)


# Calculate percentage of attendees with a school degree
percentage_degrees = round(degree_count/len(df_attended)*100,2)

# Calculate average post-bootcamp salary
salary = round(df_attended['BootcampPostSalary'].astype(float).mean())*100/100

In [35]:
# Create a new table consolodating above calculations # improve formatting 
attended_df = pd.DataFrame({"Total Respondants": [len_respondents], 
                             "Total Attendees":[len_attended],
                             "Avg Age of Attendees":[avg],
                             "Percentage of Attendees %":[f'{percent_attended}%'],
                             "Degree Holders ":[f'{percentage_degrees}%'],
                             "Male Percentage":[f'{perc_male}%'],
                             "Female Percentage":[f'{perc_female}%'],
                             "Percentage of Other Gender":[f'{perc_non_binary}%'],
                             "Avgerage Salary After BC":[f'${salary}']
                            })
attended_df

,Total Respondants,Total Attendees,Avg Age of Attendees,Percentage of Attendees %,Degree Holders,Male Percentage,Female Percentage,Percentage of Other Gender,Avgerage Salary After BC
0,15620,953,31.07,6.1%,66.84%,59.54%,39.14%,1.32%,$63741.0

In [18]:
# Export to Excel
attended_df.to_csv("output/des_output.csv", index=False, header=True)