In [20]:
# Dependencies
import pandas as pd

In [21]:
# load CSV
coders = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [23]:
# Read with pandas
coders_df = pd.read_csv(coders, encoding = 'iso-8859-1', low_memory=False)
coders_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [24]:
# Inspect all columns
coders_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [25]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
new_df = coders_df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
new_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampPostSalary', 'BootcampRecommend',
       'ChildrenNumber', 'CityPopulation', 'CodeEventBootcamp', 'CountryLive',
       'EmploymentField', 'EmploymentStatus', 'Gender', 'HasChildren',
       'HoursLearning', 'Income', 'JobRoleInterest', 'SchoolDegree',
       'SchoolMajor'],
      dtype='object')

In [26]:
# Change "0" to "No" and "1" to "Yes" in response columns
yesno_df = new_df.replace({0: "No", 1: "Yes"})

In [27]:
# Calculate total number of respondents in survey 
len_respondents = len(new_df) #changed variable name from len_respondents to total respondents
len_respondents

15620

In [28]:
# Extract rows corresponding only to people who attended a bootcamp
df_attended = new_df.loc[yesno_df["AttendedBootcamp"]=="Yes"]
df_attended.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,1.0,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,1.0,1.0,1.0,0.0,45000.0,0.0,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,1.0,1.0,1.0,1.0,75000.0,1.0,3.0,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,1.0,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,1.0,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,1.0,0.0,NaN,1.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60.0,NaN,NaN,"some college credit, no degree",NaN

In [44]:
# Calculate average age of attendees
avg = df_attended['Age'].astype(float).mean()
avg

# Calculate how many people attended a bootcamp
len_attended = len(attended)
len_attended

953

In [45]:
# Calculate how many attendees hold degrees
#df_attended['SchoolDegree'].unique()




#
#df_attended['SchoolDegree'].unique(["bachelor's degree", "master's degree (non-professional)", 'some college credit, 
                                    #'no degree','professional degree (MBA, MD, JD, etc.)', "associate's degree",
                                    #'trade, technical, or vocational training',
                                    #'high school diploma or equivalent (GED)', 'nan', 'no high school (secondary school)',
                                    #'Ph.D.', 'some high school'])  
    #degrees = new_df["SchoolDegree"].unique()
    #for x in new_df.loc[:, "SchoolDegree"]:
    #rename = new_df.rename({"some college credit": "No",})
degrees = df_attended["SchoolDegree"].value_counts()

In [46]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
dummy = pd.get_dummies(df_attended['Gender'])
male_count = dummy['male'].sum()
female_count= dummy['female'].sum()
non_binary_count = len(df_attended) - (male_count+female_count)
male_count

496

In [52]:
# Calculate percentage of respondents who attended a bootcamp
percent_attended = round((len(df_attended)/len(new_df))*100, 2)


# Calculate percentage of respondents belonging to each gender
perc_male = round((male_count/len(df_attended))*100, 2)
perc_female = round((female_count/len(df_attended))*100, 2)
perc_non_binary = round((non_binary_count/len(df_attended))*100, 2)


# Calculate percentage of attendees with a school degree
percentage_degrees = round((degrees/len(df_attended)*100,2))


# Calculate average post-bootcamp salary
salary = round(df_attended['BootcampPostSalary'].astype(float).mean())*100/100

TypeError: type tuple doesn't define __round__ method

In [49]:
# Create a new table consolodating above calculations
attended_df = pd.DataFrame({"Total # Respondants": [len_respondents], 
                             "Total # Attendees":[attended],
                             "Avg Age of Attendees":[avg],
                             "Attendees %":[percent_attended],
                             "Degrees %":[percentage_degrees],
                             "Male %":[perc_male],
                             "Female %":[perc_female ],
                             "Other Gender %":[perc_non_binary],
                             "Avgerage Salary After BC":[salary]
                            })
attended_df

NameError: name 'percentage_degrees' is not defined

In [50]:
# Improve formatting before outputting spreadsheet
attended_df['Avg Age of Attendees']=attended_df['Avg Age of Attendees'].map('{:.2f}'.format)
attended_df['Attendees %']=attended_df['Attendees %'].map('{:.2f}%'.format)
attended_df['Degrees %']=attended_df['Degrees %'].map('{:.2f}%'.format)
attended_df['Male %']=attended_df['Male %'].map('{:.2f}%'.format)
attended_df['Female %']=attended_df['Female %'].map('{:.2f}%'.format)
attended_df['Other Gender %']=attended_df['Other Gender %'].map('{:.2f}%'.format)
attended_df['Avgerage Salary After BC']=attended_df['Avgerage Salary After BC'].map('${:.2f}'.format)
attended_df

NameError: name 'attended_df' is not defined

In [51]:
# Export to Excel
attended_df.to_csv("output/des_output.csv", index=False, header=True)

NameError: name 'attended_df' is not defined